<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Bienvenido a la Aplicación</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title
                    ">Usuarios</h5>
                    <p class="card-text">Administra los usuarios de la aplicación.</p>
                    <a href="/usuario" class="btn btn-primary">Ir a Usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title
                    ">Pagos</h5>
                    <p class="card-text">Administra los pagos de la aplicación.</p>
                    <a href="/pago" class="btn btn-primary">Ir a Pagos</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>